<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" class="colorear"> 

    <ion-row class="app-icon-container">
        <ion-col text-center>
            <img  src="../../assets/icon/iconNew.png" />
        </ion-col>
      </ion-row>
  <form [formGroup]="codeAccessForm" action="#" id="codeAccess" (ngSubmit)="validateAccess()" novalidate>
     

      <ion-row>
          <ion-col text-center>
            <ion-item>
              <ion-label>Código Seguimiento:</ion-label>
            </ion-item>
            <ion-item>
                  <ion-input type="code" name="code" formControlName="code"></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
        <div *ngIf="errorCode" class="errorMsg">
            Código seguimiento erróneo.
          </div>
  
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="!codeAccessForm.valid">
            <ion-icon name="log-in" slot="start"></ion-icon>
            Acceso con código
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </form>
</ion-content> 
